@import '~antd/dist/antd.css';
@primary-color: #002240;
@font-family: Helvethaica;
body {
  background-color: #E5E5E5 !important;
  min-height: 100%;
  // font-family: Roboto, Helvethaica;
  font-family: Helvethaica, Roboto;
  font-size: 18px;
}
div{
  font-family: Helvethaica, Roboto;
}
p, a{
  font-size: 18px;
  font-family: Helvethaica, Roboto;
}

h1, h2{
  font-family: Roboto;
  font-weight: bold;
  margin: 0;
}